name: Build LaTeX document
on:
  push:
    branches: [ main ]

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4

      - name: Compile LaTeX document
        # Cette action utilise une image Docker légère avec TeX Live déjà installé
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex
          # latexmk s'occupe de lancer pdflatex et biber autant de fois que nécessaire
          args: -pdf -file-line-error -halt-on-error -interaction=nonstopmode
          compiler: latexmk

      - name: Upload PDF
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: main.pdf